# Importing data and libraries.

In [161]:
import pandas as pd
import numpy as np

In [162]:
data_raw=pd.read_csv('/content/data_num.csv',index_col=0)
data_raw

,Age,Pclass,SibSp,Parch,Fare,Sex,Embarked Cherbourg,Embarked Queenstown,Embarked Southampton,Crew,Royal,Married women,Single women,Heir,Men,Survived,Name
0,22.0,3,1,0,7.2500,0,0,0,1,0,0,0,0,0,1,0.0,"Braund, Mr. Owen Harris"
1,38.0,1,1,0,71.2833,1,1,0,0,0,0,1,0,0,0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,26.0,3,0,0,7.9250,1,0,0,1,0,0,0,1,0,0,1.0,"Heikkinen, Miss. Laina"
3,35.0,1,1,0,53.1000,1,0,0,1,0,0,1,0,0,0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)"
4,35.0,3,0,0,8.0500,0,0,0,1,0,0,0,0,0,1,0.0,"Allen, Mr. William Henry"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,NaN,3,0,0,8.0500,0,0,0,1,0,0,0,0,0,1,NaN,"Spector, Mr. Woolf"
1305,39.0,1,0,0,108.9000,1,1,0,0,0,0,0,0,0,0,NaN,"Oliva y Ocana, Dona. Fermina"
1306,38.5,3,0,0,7.2500,0,0,0,1,0,0,0,0,0,1,NaN,"Saether, Mr. Simon Sivertsen"
1307,NaN,3,0,0,8.0500,0,0,0,1,0,0,0,0,0,1,NaN,"Ware, Mr. Frederick"
1308,NaN,3,1,1,22.3583,0,1,0,0,0,0,0,0,1,0,NaN,"Peter, Master. Michael J"

# Cleaning

Some file cleaning has already been done previously

Dropping items that will not be used in the analysis

In [163]:
data = data_raw.copy()
data.drop(["Name","Survived"],inplace=True,axis=1)
data.dropna(inplace=True)
print(data.isna().sum())
print(len(data))

Age                     0
Pclass                  0
SibSp                   0
Parch                   0
Fare                    0
Sex                     0
Embarked Cherbourg      0
Embarked Queenstown     0
Embarked Southampton    0
Crew                    0
Royal                   0
Married women           0
Single women            0
Heir                    0
Men                     0
dtype: int64
1046

Separating variables, independent variables X and dependent variable y for split and train

In [164]:
X = data.iloc[:, 1:].values
y = data.iloc[:, 0].values
print(X,y)

[[3. 1. 0. ... 0. 0. 1.]
 [1. 1. 0. ... 0. 0. 0.]
 [3. 0. 0. ... 1. 0. 0.]
 ...
 [3. 0. 0. ... 1. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]
 [3. 0. 0. ... 0. 0. 1.]] [22.  38.  26.  ... 28.  39.  38.5]

# PolynomialFeatures

In [165]:
from sklearn.preprocessing import PolynomialFeatures
# Tested also with degree 1,2,3,4,5
poly_degree = PolynomialFeatures(degree = 2)
X_poly = poly_degree.fit_transform(X)

# Split into training & test sets

The data will be separated into four groups

Independent variables:
- X_train: for train the model
- X_test: for prediction

Dependent variables:
- y_train: for train the model
- y_test: for prediction

In [166]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_poly, y, test_size = 0.2, random_state = 0)

In [167]:
print('---X_train---'*20)
print(X_train)
print('---X_test---'*20)
print(X_test)
print('---y_train---'*20)
print(y_train)
print('---y_test---'*20)
print(y_test)

---X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train---
[[1. 1. 0. ... 0. 0. 1.]
 [1. 3. 1. ... 0. 0. 1.]
 [1. 3. 4. ... 1. 0. 0.]
 ...
 [1. 3. 0. ... 0. 0. 1.]
 [1. 3. 1. ... 0. 0. 1.]
 [1. 1. 1. ... 0. 0. 0.]]
---X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test---
[[1. 3. 0. ... 0. 0. 1.]
 [1. 3. 0. ... 0. 0. 1.]
 [1. 3. 0. ... 0. 0. 0.]
 ...
 [1. 2. 0. ... 0. 0. 0.]
 [1. 2. 1. ... 0. 0. 1.]
 [1. 2. 0. ... 0. 0. 0.]]
---y_train------y_train------y_train------y_train------y_train------y_train------y_train------y_train------y_train------y_train------y_train------y_train------y_train------y_train------y_train------y_train------y_train------y_train------y_train------y_train---
[27.   23.    9.   31.   35.   39.   26.   18.5  35.   49.   26.   36.
 28.   14.   21.   28.   16.   25.   36.   26.   28.   24.   50.   30.
 26.   21.    3.   30.   41.   54.   25.   23.   30.   17.   17.   26.
 36.   22.   35.   13.   25.   18.   22.   17.   50.   18.   31.   22.
 24.   30.5  21.    0.83 24.   65.   49.   19.   19.   35.   48.   36.
 30.   58.   31.   39.   19.   50.   24.   29.   21.   33.   30.   22.
 70.    2.    4.   50.   23.   17.   34.   61.    2.   45.5  39.   49.
 45.   22.   19.   45.   56.   38.   29.   23.   70.   17.   36.   29.
 31.   19.   18.    0.42 22.   50.   39.   36.   39.   38.5  31.   15.
 38.   39.   60.   32.   12.   29.   20.   45.   58.   45.   44.    3.
 32.   25.    6.   24.   40.    4.   40.   54.   58.   29.   24.   21.
  4.   21.   27.    0.67 32.   42.   20.   49.   14.5  21.   35.   28.
 40.   27.   67.   30.   28.   22.   46.   29.   51.   27.   45.   19.
 60.   34.    4.   33.   36.   64.   50.   24.   44.   17.   55.   26.
 30.   27.   40.5  42.   26.   36.   21.   31.   20.    9.   39.   42.
 21.   30.   38.   19.   42.   50.   25.   57.   29.   57.   39.   21.
 28.   22.   42.   24.   17.   35.   26.   29.   39.   29.   29.   29.
 26.   42.   21.   19.    4.   22.   59.   55.    9.   27.   24.   27.
 31.   28.   34.   17.   25.   25.   30.   63.    1.   49.   48.   25.
 31.   41.   17.    8.   24.   10.   45.   28.    0.92 34.   18.   37.
 28.   29.   34.   25.   18.   26.   37.   27.   34.   27.   28.   29.
 50.   22.   25.   23.    9.   24.   20.   30.   52.   30.   26.   24.
  5.   35.   20.   30.   28.   33.   24.   19.   41.   23.   44.   40.
 20.   16.   51.   34.   16.    6.   22.   35.   16.   45.5  46.   18.
 27.   27.   45.   22.   24.   25.    1.   33.   18.   18.   30.   45.
 56.   32.   37.   21.    1.   26.5  53.   46.   30.   32.   38.   28.5
 47.   28.5  17.   20.   39.   38.    0.75 25.   19.   25.   23.   41.
 21.   26.   18.   38.   35.   28.   20.   16.   18.   54.   62.    1.
 27.   36.   28.   29.   41.   23.   32.5  19.   51.   71.   17.   39.
 25.   22.   25.   55.   35.   48.   23.   23.   30.   40.    7.   34.
 33.   21.   44.   36.   28.   30.   24.   35.   38.   18.   29.   40.
 28.   18.   40.5  48.   31.   35.   45.   25.    0.17 17.   57.    4.
 29.   65.    6.   34.   18.   28.   39.   33.   45.   16.   28.   36.
  5.   24.   22.   16.   31.   20.   16.   30.   18.   45.    4.   27.
 28.   31.   33.   20.   36.    5.   45.   19.   29.   25.   32.   26.
 30.5  33.    8.   26.   37.    6.   49.   52.   27.   21.   31.    9.
 22.   25.   22.   47.   22.   27.    2.   30.   10.    0.83 23.   49.
 42.   28.   29.   18.5  17.   22.   25.   29.   41.   43.   48.   23.
 14.   24.   35.   54.   18.   23.   47.    0.75 24.   31.   17.   26.
 42.   64.   24.5  57.   25.   25.   37.   30.   42.   42.   16.   43.
 14.   31.   19.   23.   26.   34.   38.   22.   27.   22.   22.    8.
  1.   43.    9.   32.   25.   31.   50.   16.   60.   14.    3.   22.
 80.   29.   26.    2.   24.   64.   21.   40.5  33.   27.   27.   30.
 62.   22.   60.   76.   12.   20.   39.   35.    4.   29.   18.    0.75
 18.   63.   24.    1.   29.   18.   19.    2.   18.   22.   30.   24.
 50.   33.   36.   30.   48.   53.   24.   61.   28.   21.   54.   30.
 45.   27.   21.   42.   39.    3.   20.   11.   28.   22.   55.   24.
  9.   24.   21.   18.   24.   21.   19.   59.   71.   31.   25.   60.
 21.   60.   22.   15.   35.   20.    0.33 24.   29.   21.   47.    2.
  4.    1.   40.   57.   53.   30.   28.   47.   39.   20.   63.   47.
 62.   26.   31.   23.   40.   22.   58.   35.   21.   40.   21.   24.
 16.   21.   30.   27.   44.   24.   18.   31.   18.   23.   20.   38.
 47.   20.   51.   37.   24.   19.   34.5  19.   40.   27.   47.   66.
 16.   40.   19.   43.   47.    7.   13.   54.    6.   21.   41.   22.
 64.   28.   26.   45.   18.   32.   47.   23.   41.   15.   51.   18.
 29.   28.    2.   21.   21.   34.    3.   22.   21.   45.   36.   18.
 48.   17.    3.   28.   63.   50.   19.   27.   33.   35.   47.   20.
 18.    5.   14.5  32.5   7.   17.   25.   21.    6.   34.   42.   50.
 45.   22.5  30.   55.5   9.   34.   54.   23.   26.   28.   19.   21.
 18.   47.   55.   56.    9.   54.   32.5  48.   42.   16.   35.   27.
 42.   28.   30.   24.   25.   40.   33.   44.   21.   51.   22.   35.
 29.    1.   39.   15.   56.   41.   14.   25.   16.    2.   30.   26.
 38.   61.   17.   44.   45.   21.   21.   62.   38.   36.   49.   45.
 48.   51.   17.   36.   70.5  28.   11.   55.   36.5  33.   35.   32.
  2.   28.   22.   50.   31.   48.   28.5  54.   58.   30.    2.   24.
 26.   60.   20.   32.   30.   59.   44.   18.5  21.   20.5  32.   25.
 48.   42.   32.   17.   34.5  14.   19.   11.   33.   16.   19.   40.
 30.   22.    4.   27.   27.   13.   16.   58.   12.   27.   19.   36.
 19.   18.   35.   26.   41.   36.   22.   42.   22.   52.   33.   28.
 23.   33.   36.   30.   36.   60.5  26.   45.  ]
---y_test------y_test------y_test------y_test------y_test------y_test------y_test------y_test------y_test------y_test------y_test------y_test------y_test------y_test------y_test------y_test------y_test------y_test------y_test------y_test---
[23.   32.   18.   18.    1.   35.   32.   36.   32.   20.   18.   31.
 26.   24.   33.   50.   19.   36.   40.   23.   23.   31.   30.    2.
 47.   18.   38.   21.   42.   62.   41.   25.   30.   21.   30.   32.
 40.   54.   23.   34.   10.   27.   30.   40.   24.   24.   32.5  24.
 50.   38.   44.   43.   40.   18.   36.   48.   25.   33.    0.92 61.
 55.    2.   29.   36.   24.   24.   24.   47.   19.   28.   26.   36.
 21.   25.   22.   48.   24.   18.    7.   39.   21.   17.   27.   64.
 46.   20.   18.   43.   22.   24.   32.   20.   34.   13.   39.   21.
 27.   37.   20.   18.   37.   34.    0.83 52.   13.   32.   25.   19.
 15.   20.   46.   51.   22.   52.   65.   23.5  40.    8.   26.   49.
 36.   46.   36.   31.   16.   18.   32.   38.   11.    8.   31.   24.
 30.    8.   32.   26.   30.   61.   32.   36.   55.   24.    5.   22.
 25.   37.   33.   27.   28.   16.   23.   43.   36.   39.   19.   43.
 30.   22.    3.   33.   35.   25.   15.   23.   32.   29.   22.   24.
  9.   29.   10.   14.   26.   11.5  45.   45.   22.   33.   36.5  32.
 22.   29.   39.   52.   16.   19.   36.   14.   22.   30.   21.   18.
 24.   43.   53.   29.   25.   42.   48.   26.   24.   74.    1.   32.
 18.   24.   36.   24.   44.   23.  ]

#Scaling


.fit() Calculate the mean and standard deviation to use on transform(), and store the values in the StandardScaler() class instance, in this case in the variable sc

.transform() perform standardization by the following formula:
$\mathrm{x}_{standardization}^{}=\frac{x-mean}{standard\text{ }deviation}$

----------------------------

print(sc.mean_) to see the mean 

print(sc.var_) to see the variance

print(np.sqrt(sc.var_)) or print(sc.scale_) to see the standard deviation

-----------------------------

The dummy variables aren't standardized because they are already between 0 and 1

----------------------------

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

From https://www.atoti.io/articles/when-to-perform-a-feature-scaling/ about scaling in linear regressions:

"Technically, feature scaling does not make a difference in the regression, but it might give us some practical benefits and in further feature engineering steps."

In [168]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:,:-10] = sc.fit_transform(X_train[:,:-10])
X_test[:,:-10] = sc.transform(X_test[:,:-10])

In [169]:
print('---X_train---'*20)
print(X_train)
print('---X_test---'*20)
print(X_test)

---X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train------X_train---
[[ 0.         -1.45764509 -0.53869923 ...  0.          0.
   1.        ]
 [ 0.          0.92474259  0.57603482 ...  0.          0.
   1.        ]
 [ 0.          0.92474259  3.92023696 ...  1.          0.
   0.        ]
 ...
 [ 0.          0.92474259 -0.53869923 ...  0.          0.
   1.        ]
 [ 0.          0.92474259  0.57603482 ...  0.          0.
   1.        ]
 [ 0.         -1.45764509  0.57603482 ...  0.          0.
   0.        ]]
---X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test------X_test---
[[ 0.          0.92474259 -0.53869923 ...  0.          0.
   1.        ]
 [ 0.          0.92474259 -0.53869923 ...  0.          0.
   1.        ]
 [ 0.          0.92474259 -0.53869923 ...  0.          0.
   0.        ]
 ...
 [ 0.         -0.26645125 -0.53869923 ...  0.          0.
   0.        ]
 [ 0.         -0.26645125  0.57603482 ...  0.          0.
   1.        ]
 [ 0.         -0.26645125 -0.53869923 ...  0.          0.
   0.        ]]

# Modelling

## Build the model

Instantiate the object with the name regressor as a model, for the machine learning

**degree** is the degree of the polynomial features

**X_poly** is the number of polynomial features generated from the combination of inputs. So it will be much larger than input.

This **.fit_transform** is different from the sklearn.preprocessing.StandardScaler



Adapted from:

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html#sklearn.preprocessing.StandardScaler.fit_transform


https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html

In [170]:
from sklearn.linear_model import LinearRegression

parameters = {'copy_X': True, 'fit_intercept': True, 'n_jobs': 0, 'positive': False}

#** send the value of dict to the function
regressor = LinearRegression(**parameters)

## Train the model

Train the model on classifier object, with X_train and y_train

It is not testing with X_train but with X_poly

In [171]:
regressor.fit(X_train, y_train)

LinearRegression(n_jobs=0)

## Make predictions

Predictions for dependent variables with the trained model

Prediction for the vector X_test

In [172]:
prediction = regressor.predict(X_test)
#np.set_printoptions(precision=2)
#prediction = regressor.predict(X_test)
print(prediction.mean())
print(y_test.mean())

29.70044642857143
29.322619047619046

# Evaluation

 R²(coefficient of determination) regression score function.

Best possible score is 1.0 and it can be negative (because the model can be arbitrarily worse). In the general case when the true y is non-constant, a constant model that always predicts the average y disregarding the input features would get a R² score of 0.0.

Source: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html

In [173]:
from sklearn.metrics import r2_score
r2_score(y_test, prediction)

0.34357654790920766

##Calculating the best parameter for the model

GridSearchCV calculates the best parameter for the model.

First you calculate using GridSearchCV, then use the values on your model, lastly you disable the algorithm of GridSearchCV by commenting

It could be divided in parts because it is time expensive

### For LinearRegression()

Shows every parameter that could be use on GridSearchCV for this kind of machine learning

In [174]:
print(LinearRegression().get_params().keys())

dict_keys(['copy_X', 'fit_intercept', 'n_jobs', 'normalize', 'positive'])

In [175]:
#Calculating the best model possible
# This code could take a long time, uncoment to run the full GridSearchCV
'''
from sklearn.model_selection import GridSearchCV 

#Parameters
# 1° attempt Best result: 0.420858 using {'copy_X': True, 'fit_intercept': True, 'n_jobs': 1, 'positive': False}
parameters = {'copy_X':[True, False],'fit_intercept':[True,False],'n_jobs':list(range(0, 20)),'positive':[True,False]}

#GridSearchCV
estimator = LinearRegression()
grid = GridSearchCV(estimator,parameters, cv=None)
grid.fit(X_train, y_train)
print("Best result: %f using %s" % (grid.best_score_, grid.best_params_))
'''

'\nfrom sklearn.model_selection import GridSearchCV \n\n#Parameters\n# 1° attempt Best result: 0.420858 using {\'copy_X\': True, \'fit_intercept\': True, \'n_jobs\': 1, \'positive\': False}\nparameters = {\'copy_X\':[True, False],\'fit_intercept\':[True,False],\'n_jobs\':list(range(0, 20)),\'positive\':[True,False]}\n\n#GridSearchCV\nestimator = LinearRegression()\ngrid = GridSearchCV(estimator,parameters, cv=None)\ngrid.fit(X_train, y_train)\nprint("Best result: %f using %s" % (grid.best_score_, grid.best_params_))\n'

# Predicting Age

Checking NaN

In [176]:
data_age = data_raw.copy()
data_age.isna().sum()

Age                     263
Pclass                    0
SibSp                     0
Parch                     0
Fare                      0
Sex                       0
Embarked Cherbourg        0
Embarked Queenstown       0
Embarked Southampton      0
Crew                      0
Royal                     0
Married women             0
Single women              0
Heir                      0
Men                       0
Survived                418
Name                      0
dtype: int64

Predicting and changing the age value in data_age

In [177]:
age = []
import math
for i ,v in data_age.iterrows():
  if math.isnan(v['Age']):
    X_prediction = v[1:-2].values
    prediction_poly = poly_degree.fit_transform(X_prediction.reshape(1, -1) )
    prediction_poly[:,:-10] = sc.transform(prediction_poly[:,:-10])
    prediction = regressor.predict(prediction_poly)
    data_age.iloc[i, data_age.columns.get_loc('Age')] = prediction[0]
    #print(i, v)
    age.append(prediction[0])

Checking

In [178]:
print(np.mean(age))
age

29.39569718393536

[34.533203125,
 31.705078125,
 30.275390625,
 26.970703125,
 21.5322265625,
 28.720703125,
 40.673828125,
 21.6494140625,
 26.986328125,
 26.986328125,
 28.720703125,
 32.236328125,
 21.6494140625,
 21.955078125,
 41.181640625,
 43.814453125,
 5.5498046875,
 28.720703125,
 28.720703125,
 21.5869140625,
 28.720703125,
 28.720703125,
 28.720703125,
 28.720703125,
 15.5244140625,
 28.720703125,
 34.986328125,
 7.2587890625,
 26.853515625,
 28.705078125,
 28.736328125,
 11.9716796875,
 46.947265625,
 41.658203125,
 4.3388671875,
 12.2275390625,
 31.908203125,
 40.478515625,
 35.837890625,
 34.986328125,
 21.6494140625,
 23.486328125,
 37.251953125,
 28.720703125,
 12.0712890625,
 22.6611328125,
 18.6025390625,
 20.7119140625,
 28.720703125,
 44.056640625,
 34.986328125,
 21.6494140625,
 41.400390625,
 21.6494140625,
 32.001953125,
 41.650390625,
 43.814453125,
 41.423828125,
 21.6494140625,
 29.955078125,
 36.6572265625,
 28.720703125,
 33.8525390625,
 23.486328125,
 20.3056640625,
 42.517578125,
 28.720703125,
 29.615234375,
 41.197265625,
 26.970703125,
 21.5322265625,
 21.5322265625,
 32.236328125,
 30.291015625,
 21.6494140625,
 41.181640625,
 28.720703125,
 35.001953125,
 12.0712890625,
 28.720703125,
 35.533203125,
 32.001953125,
 35.544921875,
 26.986328125,
 28.720703125,
 34.986328125,
 29.615234375,
 28.720703125,
 26.267578125,
 28.720703125,
 43.158203125,
 34.986328125,
 28.720703125,
 32.001953125,
 34.986328125,
 28.720703125,
 40.392578125,
 32.001953125,
 12.0712890625,
 26.267578125,
 27.001953125,
 28.767578125,
 21.6806640625,
 41.619140625,
 28.720703125,
 24.611328125,
 26.970703125,
 26.986328125,
 34.494140625,
 26.986328125,
 27.119140625,
 28.767578125,
 31.947265625,
 34.923828125,
 35.970703125,
 34.986328125,
 28.720703125,
 22.6767578125,
 26.986328125,
 21.6494140625,
 24.064453125,
 26.970703125,
 28.720703125,
 3.4775390625,
 24.8603515625,
 26.970703125,
 28.720703125,
 40.845703125,
 28.705078125,
 20.7119140625,
 34.986328125,
 35.001953125,
 43.005859375,
 26.267578125,
 29.205078125,
 28.720703125,
 28.720703125,
 21.5712890625,
 28.720703125,
 28.720703125,
 43.150390625,
 32.001953125,
 21.4384765625,
 29.205078125,
 21.6025390625,
 5.5498046875,
 41.619140625,
 30.080078125,
 21.6025390625,
 32.001953125,
 28.720703125,
 28.720703125,
 41.451171875,
 28.767578125,
 55.244140625,
 26.642578125,
 26.970703125,
 34.986328125,
 35.001953125,
 27.001953125,
 34.986328125,
 12.2275390625,
 43.658203125,
 43.005859375,
 35.486328125,
 29.205078125,
 34.986328125,
 26.986328125,
 28.720703125,
 43.720703125,
 23.486328125,
 41.103515625,
 26.986328125,
 12.2275390625,
 28.736328125,
 28.720703125,
 3.1962890625,
 28.720703125,
 45.369140625,
 21.955078125,
 28.744140625,
 22.6767578125,
 29.205078125,
 41.619140625,
 34.986328125,
 31.908203125,
 26.267578125,
 36.986328125,
 28.720703125,
 28.720703125,
 52.298828125,
 24.236328125,
 42.025390625,
 28.720703125,
 28.720703125,
 34.986328125,
 34.986328125,
 28.720703125,
 21.6337890625,
 26.970703125,
 37.251953125,
 34.986328125,
 20.3056640625,
 39.353515625,
 24.314453125,
 40.392578125,
 41.619140625,
 26.986328125,
 21.6025390625,
 28.720703125,
 44.197265625,
 28.720703125,
 26.986328125,
 34.986328125,
 12.2275390625,
 41.650390625,
 35.552734375,
 16.9931640625,
 43.939453125,
 28.705078125,
 21.5322265625,
 28.720703125,
 26.853515625,
 21.6494140625,
 34.892578125,
 28.720703125,
 4.1240234375,
 24.072265625,
 28.720703125,
 34.986328125,
 28.720703125,
 43.005859375,
 28.720703125,
 22.6767578125,
 34.986328125,
 20.7119140625,
 26.970703125,
 21.6494140625,
 28.720703125,
 26.986328125,
 28.720703125,
 40.978515625,
 26.986328125,
 21.955078125,
 31.923828125,
 21.6494140625,
 28.720703125,
 26.970703125,
 9.6435546875,
 72.892578125,
 4.3134765625,
 28.720703125,
 34.986328125,
 69.837890625,
 24.236328125,
 34.986328125,
 35.884765625,
 31.705078125,
 21.6650390625,
 21.6494140625,
 28.720703125,
 28.720703125,
 5.6591796875]

In [179]:
data_age

,Age,Pclass,SibSp,Parch,Fare,Sex,Embarked Cherbourg,Embarked Queenstown,Embarked Southampton,Crew,Royal,Married women,Single women,Heir,Men,Survived,Name
0,22.000000,3,1,0,7.2500,0,0,0,1,0,0,0,0,0,1,0.0,"Braund, Mr. Owen Harris"
1,38.000000,1,1,0,71.2833,1,1,0,0,0,0,1,0,0,0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,26.000000,3,0,0,7.9250,1,0,0,1,0,0,0,1,0,0,1.0,"Heikkinen, Miss. Laina"
3,35.000000,1,1,0,53.1000,1,0,0,1,0,0,1,0,0,0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)"
4,35.000000,3,0,0,8.0500,0,0,0,1,0,0,0,0,0,1,0.0,"Allen, Mr. William Henry"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,28.720703,3,0,0,8.0500,0,0,0,1,0,0,0,0,0,1,NaN,"Spector, Mr. Woolf"
1305,39.000000,1,0,0,108.9000,1,1,0,0,0,0,0,0,0,0,NaN,"Oliva y Ocana, Dona. Fermina"
1306,38.500000,3,0,0,7.2500,0,0,0,1,0,0,0,0,0,1,NaN,"Saether, Mr. Simon Sivertsen"
1307,28.720703,3,0,0,8.0500,0,0,0,1,0,0,0,0,0,1,NaN,"Ware, Mr. Frederick"
1308,5.659180,3,1,1,22.3583,0,1,0,0,0,0,0,0,1,0,NaN,"Peter, Master. Michael J"

In [180]:
data_age.isna().sum()

Age                       0
Pclass                    0
SibSp                     0
Parch                     0
Fare                      0
Sex                       0
Embarked Cherbourg        0
Embarked Queenstown       0
Embarked Southampton      0
Crew                      0
Royal                     0
Married women             0
Single women              0
Heir                      0
Men                       0
Survived                418
Name                      0
dtype: int64

# Downloading Data. Exporting data for Machine Learning analysis.

To export the data, delete the # in command: **#files.download('output.csv')**

In [181]:
from google.colab import files
data_age.to_csv('data_for_survived.csv', encoding = 'utf-8-sig') 
files.download('data_for_survived.csv')

In [182]:
data_age

,Age,Pclass,SibSp,Parch,Fare,Sex,Embarked Cherbourg,Embarked Queenstown,Embarked Southampton,Crew,Royal,Married women,Single women,Heir,Men,Survived,Name
0,22.000000,3,1,0,7.2500,0,0,0,1,0,0,0,0,0,1,0.0,"Braund, Mr. Owen Harris"
1,38.000000,1,1,0,71.2833,1,1,0,0,0,0,1,0,0,0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,26.000000,3,0,0,7.9250,1,0,0,1,0,0,0,1,0,0,1.0,"Heikkinen, Miss. Laina"
3,35.000000,1,1,0,53.1000,1,0,0,1,0,0,1,0,0,0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)"
4,35.000000,3,0,0,8.0500,0,0,0,1,0,0,0,0,0,1,0.0,"Allen, Mr. William Henry"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,28.720703,3,0,0,8.0500,0,0,0,1,0,0,0,0,0,1,NaN,"Spector, Mr. Woolf"
1305,39.000000,1,0,0,108.9000,1,1,0,0,0,0,0,0,0,0,NaN,"Oliva y Ocana, Dona. Fermina"
1306,38.500000,3,0,0,7.2500,0,0,0,1,0,0,0,0,0,1,NaN,"Saether, Mr. Simon Sivertsen"
1307,28.720703,3,0,0,8.0500,0,0,0,1,0,0,0,0,0,1,NaN,"Ware, Mr. Frederick"
1308,5.659180,3,1,1,22.3583,0,1,0,0,0,0,0,0,1,0,NaN,"Peter, Master. Michael J"